/* .navbar{
    display: flex;
    gap: 5%;
    margin-left: 5%;
 */


.icon,
h5 {
    color: green;
}
.links a:hover,
.icon:hover {
    background-color: orange;
    color: white;
    transition: 0.4s all linear;
}
#login{
    color:red;
    border-radius: 20px;
    width: 85px;  
    height: 25px; 
}
#name{
 border-radius: 40px; 
 font-size: medium; 
 padding: 12px 20px 12px 20px; 
 margin-top: -1%;
}
#joinnow{
    background-color: hotpink;
    border-radius:  20px;
    width: 85px; 
    height: 25px; 
    color: aliceblue; 
}
#gown{
    display: flex;
}
#home{
    color: red;
}
.content{
    display: flex;
    margin-left: 15%;
    gap: 15%;
    margin-top:5%;
    font-size: xx-large;
}
#en{
    margin-left: -84px;
    border-radius: 40px;
    background-color: hotpink;
    color: aliceblue;
    margin-top: -3%;
    
}
#man{
 width: 600px;   
}

#p1{
padding: 2px,10px,2px,10px;
}
.services{
    display: flex;
    font-size: medium;
}
.logos{
    display: flex;
    margin-left: 10%;
    gap: 10%;
    margin-top: 5%;
    font-size: xx-large;

}@media  screen and (min-width: 350px) and
 (max-width: 780px) {
.content{
    flex-direction: column;
}
.logos{
    flex-direction: column;
}
#man{
    width: 200px;
}
    
#btn{
flex-direction: column;
}
}@media  screen and (min-width: 380px) and 
(max-width: 1200px) {
    content{
        flex-direction: column;

        }
}
  

     